<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vegardlandsverk.bluetoothcontroller</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>00AA6D41-B74C-413D-AA91-22CB23A8A328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE6F7ED4-04BA-4867-9C46-86E321EBC72D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>062465D0-44F1-4FF7-9F84-6979BEC4DF88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3566B163-5E0F-46CE-9C25-94638F4D8855</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C0071B3-C425-4582-B155-441C6CB2B674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F55174A-6D3E-409A-9782-90196F55B6A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87EE72E5-0183-44E3-90BF-8536B062DE2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BE74FDBE-7ED8-46D7-8E29-52904BF43033</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2055BADE-BB0D-4496-B3ED-B1B048523CAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21200C80-C93D-4418-87AC-4B17155D065C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2538A11F-3808-4DFE-8965-AB6CBCA46326</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E684A78A-72CA-43FD-B911-9A45FC33ECC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3566B163-5E0F-46CE-9C25-94638F4D8855</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8284AB5-03BF-4C51-9969-34D4BF2FF011</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BE74FDBE-7ED8-46D7-8E29-52904BF43033</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A7727CA-D8E5-4316-A3AE-9D81471F1F80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2A13B8C-EA8D-4560-BA46-E18198CD3B77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F339F03-6C77-4879-8F06-3BE04A228C41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>969F32E4-6C96-4FD2-BB05-8A9687B2CF96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70EC49E3-72D0-4EDE-B1DD-44C296BA5263</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83A1F49F-139B-404C-8DA7-D77927DB275C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2055BADE-BB0D-4496-B3ED-B1B048523CAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87EE72E5-0183-44E3-90BF-8536B062DE2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>969F32E4-6C96-4FD2-BB05-8A9687B2CF96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8284AB5-03BF-4C51-9969-34D4BF2FF011</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B2CD7A72-7C80-45C4-8EDD-D7BE7D01E1D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>062465D0-44F1-4FF7-9F84-6979BEC4DF88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A543E07-4010-4BBA-8E69-1067F8B6251F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F22F821-4107-4DF8-AF14-6322BACCE389</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE29FA26-7129-4E3D-9084-F402120BF8F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC490F6A-5F3B-4167-89B8-8D13ABD54EE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C0071B3-C425-4582-B155-441C6CB2B674</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0CC9920-644D-4EA4-A83E-9F44918F3FFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F55174A-6D3E-409A-9782-90196F55B6A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0D7B171-71E1-432D-BB6E-2D14066CB49F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C547933D-5FAE-4ECD-97FA-68C6AADCD629</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B2CD7A72-7C80-45C4-8EDD-D7BE7D01E1D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9F22F821-4107-4DF8-AF14-6322BACCE389</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2A13B8C-EA8D-4560-BA46-E18198CD3B77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8284AB5-03BF-4C51-9969-34D4BF2FF011</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C028DDD9-1776-467A-B92F-44790785141B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE6F7ED4-04BA-4867-9C46-86E321EBC72D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C547933D-5FAE-4ECD-97FA-68C6AADCD629</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6BA9A45-F520-4BFB-A1C9-4612340B6F5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2C1AD97-C501-44BD-8D72-300D004E5979</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21200C80-C93D-4418-87AC-4B17155D065C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D33533C8-A48A-47C7-A55A-7AB55A21C889</key>
		<array/>
		<key>D74C560B-4F3D-4B55-B091-380FB6C9454E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCBF6499-1523-4AA7-BE63-25524F8C0181</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD532A4D-86C3-4874-89D6-47B4F961DCF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0D7B171-71E1-432D-BB6E-2D14066CB49F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E684A78A-72CA-43FD-B911-9A45FC33ECC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87EE72E5-0183-44E3-90BF-8536B062DE2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B2CD7A72-7C80-45C4-8EDD-D7BE7D01E1D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B0CC9920-644D-4EA4-A83E-9F44918F3FFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED18B100-64A9-46AA-82B6-21A2C7182F4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A543E07-4010-4BBA-8E69-1067F8B6251F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE29FA26-7129-4E3D-9084-F402120BF8F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C547933D-5FAE-4ECD-97FA-68C6AADCD629</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BE74FDBE-7ED8-46D7-8E29-52904BF43033</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC4168F1-6FF0-4CAE-B825-F380A2E06EC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE6F7ED4-04BA-4867-9C46-86E321EBC72D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vegard Landsverk</string>
	<key>description</key>
	<string>The most complete workflow for managing bluetooth on your mac</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth Controller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>00AA6D41-B74C-413D-AA91-22CB23A8A328</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>connect_favorite</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FE6F7ED4-04BA-4867-9C46-86E321EBC72D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>btfavorite</string>
				<key>subtext</key>
				<string>Connects if disconnected, and vice versa</string>
				<key>text</key>
				<string>Toggle Favorite Bluetooth Device</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C028DDD9-1776-467A-B92F-44790785141B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>set_favorite</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>Toggle Favorite Bluetooth Device</string>
				<key>triggername</key>
				<string>Toggle Favorite Bluetooth Device</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>FC4168F1-6FF0-4CAE-B825-F380A2E06EC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btsetfavorite</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for previously paired devices. Please wait...</string>
				<key>script</key>
				<string>./scripts/return_device_json.py "Set as favorite"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Toggle device later by using selected hotkey (ctrl-option-cmd-x by default)</string>
				<key>title</key>
				<string>Set Favorite Bluetooth Device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0C0071B3-C425-4582-B155-441C6CB2B674</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Set Favorite Bluetooth Device</string>
				<key>triggername</key>
				<string>Set Favorite Bluetooth Device</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>AC490F6A-5F3B-4167-89B8-8D13ABD54EE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Bluetooth-off</string>
				<key>triggername</key>
				<string>Bluetooth off</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>C6BA9A45-F520-4BFB-A1C9-4612340B6F5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Seach through and select device</string>
				<key>triggername</key>
				<string>Seach through and select device</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>83A1F49F-139B-404C-8DA7-D77927DB275C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for previously paired devices. Please wait...</string>
				<key>script</key>
				<string>./scripts/return_device_json.py "Toggle device connection" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Toggle or unpair device</string>
				<key>title</key>
				<string>Toggle Connection With Bluetooth Device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2055BADE-BB0D-4496-B3ED-B1B048523CAA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>on</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>Bluetooth on</string>
				<key>triggername</key>
				<string>Bluetooth on</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>DCBF6499-1523-4AA7-BE63-25524F8C0181</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/vegardinho/alfred_bluetooth_controller/master/info.plist'
readonly workflow_url='vegardinho/alfred_bluetooth_controller'
readonly download_type='github_release'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type f -name 'notificator')"

  if [[ -f "${notificator}" &amp;&amp; "$(/usr/bin/file --brief --mime-type "${notificator}")" == 'text/x-shellscript' ]]; then
    "${notificator}" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  # Remote sanity check
  if ! url_exists "${remote_info_plist}"; then
    abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."
  fi

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"
  rm "${tmp_file}"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  readonly download_url="$(
    if [[ "${download_type}" == 'github_release' ]]; then
      osascript -l JavaScript -e 'function run(argv) { return JSON.parse(argv[0])["assets"].find(asset =&gt; asset["browser_download_url"].endsWith(".alfredworkflow"))["browser_download_url"] }' "$(curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest")"
    else
      echo "${workflow_url}"
    fi
  )"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    readonly download_name="$(basename "${download_url}")"
    curl --silent --location --output "${HOME}/Downloads/${download_name}" "${download_url}"
    open "${HOME}/Downloads/${download_name}"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>update</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B588AE59-92A5-41C6-9044-413C9E119F29</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Pair with available devices</string>
				<key>triggername</key>
				<string>Pair with available devices</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>4A7727CA-D8E5-4316-A3AE-9D81471F1F80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for devices. Please wait (5 seconds)...</string>
				<key>script</key>
				<string>./scripts/return_device_json.py "Pair with device" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for device name to pair</string>
				<key>title</key>
				<string>Pair New Bluetooth Device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B2A13B8C-EA8D-4560-BA46-E18198CD3B77</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/commands.zsh $argv</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D33533C8-A48A-47C7-A55A-7AB55A21C889</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>btstatus</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show Bluetooth Status</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2C1AD97-C501-44BD-8D72-300D004E5979</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string>#002C66E6</string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>BLUETOOTH  STATUS
================

{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>large_type</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>27C73412-6EA3-4FCF-AB15-9EED260308D7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>large_type</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>21200C80-C93D-4418-87AC-4B17155D065C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bton</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Turn Bluetooth On</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ED18B100-64A9-46AA-82B6-21A2C7182F4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>on</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9A543E07-4010-4BBA-8E69-1067F8B6251F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>toggle</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>Bluetooth Toggle</string>
				<key>triggername</key>
				<string>Bluetooth Toggle</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>70EC49E3-72D0-4EDE-B1DD-44C296BA5263</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>btoff</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Turn Bluetooth Off</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F339F03-6C77-4879-8F06-3BE04A228C41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>off</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B8284AB5-03BF-4C51-9969-34D4BF2FF011</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:confirm}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>false</string>
						<key>outputlabel</key>
						<string>skip</string>
						<key>uid</key>
						<string>B2CD7A72-7C80-45C4-8EDD-D7BE7D01E1D2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>confirm</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>969F32E4-6C96-4FD2-BB05-8A9687B2CF96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Yes","arg":"yes","subtitle":"Turn off bluetooth"},{"title":"No","arg":"no","subtitle":"Don't turn off bluetooth"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Your mouse and/or keyboard might disconnect from your mac.</string>
				<key>title</key>
				<string>Are you sure you want to toggle bluetooth?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>062465D0-44F1-4FF7-9F84-6979BEC4DF88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Show Bluetooth Status</string>
				<key>triggername</key>
				<string>Show Bluetooth Status</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>D74C560B-4F3D-4B55-B091-380FB6C9454E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>yes</string>
						<key>outputlabel</key>
						<string>yes</string>
						<key>uid</key>
						<string>BE74FDBE-7ED8-46D7-8E29-52904BF43033</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3566B163-5E0F-46CE-9C25-94638F4D8855</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bttoggle</string>
				<key>subtext</key>
				<string>Turn off is on, and vice versa</string>
				<key>text</key>
				<string>Toggle Bluetooth Status</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DD532A4D-86C3-4874-89D6-47B4F961DCF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>toggle</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C547933D-5FAE-4ECD-97FA-68C6AADCD629</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:confirm}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>false</string>
						<key>outputlabel</key>
						<string>skip</string>
						<key>uid</key>
						<string>B2CD7A72-7C80-45C4-8EDD-D7BE7D01E1D2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>confirm</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B0D7B171-71E1-432D-BB6E-2D14066CB49F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Yes","arg":"yes","subtitle":"Toggle bluetooth"},{"title":"No","arg":"no","subtitle":"Don't toggle bluetooth"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Your mouse and/or keyboard might disconnect from your mac.</string>
				<key>title</key>
				<string>Are you sure you want to turn off bluetooth?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>9F22F821-4107-4DF8-AF14-6322BACCE389</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>yes</string>
						<key>outputlabel</key>
						<string>yes</string>
						<key>uid</key>
						<string>BE74FDBE-7ED8-46D7-8E29-52904BF43033</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EE29FA26-7129-4E3D-9084-F402120BF8F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>btreset</string>
				<key>subtext</key>
				<string>Turn off, wait, turn on</string>
				<key>text</key>
				<string>Reset Bluetooth Status</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2538A11F-3808-4DFE-8965-AB6CBCA46326</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>reset</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>87EE72E5-0183-44E3-90BF-8536B062DE2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:confirm}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>false</string>
						<key>outputlabel</key>
						<string>skip</string>
						<key>uid</key>
						<string>B2CD7A72-7C80-45C4-8EDD-D7BE7D01E1D2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>confirm</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E684A78A-72CA-43FD-B911-9A45FC33ECC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Yes","arg":"yes","subtitle":"Toggle bluetooth"},{"title":"No","arg":"no","subtitle":"Don't toggle bluetooth"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Your mouse and/or keyboard might disconnect from your mac.</string>
				<key>title</key>
				<string>Are you sure you want to turn off bluetooth?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B0CC9920-644D-4EA4-A83E-9F44918F3FFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>yes</string>
						<key>outputlabel</key>
						<string>yes</string>
						<key>uid</key>
						<string>BE74FDBE-7ED8-46D7-8E29-52904BF43033</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1F55174A-6D3E-409A-9782-90196F55B6A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>NEW IN THIS EDITION:

- Fix blueutil on M1 macs.



FOR INSTALLATION AND HELP, SEE GITHUB REPO
https://github.com/vegardinho/alfred_bluetooth_controller

Please notify me of any bugs.

Enjoy!</string>
	<key>uidata</key>
	<dict>
		<key>00AA6D41-B74C-413D-AA91-22CB23A8A328</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>062465D0-44F1-4FF7-9F84-6979BEC4DF88</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>1015</real>
		</dict>
		<key>0C0071B3-C425-4582-B155-441C6CB2B674</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>1F55174A-6D3E-409A-9782-90196F55B6A4</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>1325</real>
		</dict>
		<key>2055BADE-BB0D-4496-B3ED-B1B048523CAA</key>
		<dict>
			<key>note</key>
			<string>Search through and select device</string>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>21200C80-C93D-4418-87AC-4B17155D065C</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>2538A11F-3808-4DFE-8965-AB6CBCA46326</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1255</real>
		</dict>
		<key>27C73412-6EA3-4FCF-AB15-9EED260308D7</key>
		<dict>
			<key>xpos</key>
			<real>1325</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>3566B163-5E0F-46CE-9C25-94638F4D8855</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>1035</real>
		</dict>
		<key>4A7727CA-D8E5-4316-A3AE-9D81471F1F80</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>4F339F03-6C77-4879-8F06-3BE04A228C41</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>70EC49E3-72D0-4EDE-B1DD-44C296BA5263</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>83A1F49F-139B-404C-8DA7-D77927DB275C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>87EE72E5-0183-44E3-90BF-8536B062DE2F</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>1270</real>
		</dict>
		<key>969F32E4-6C96-4FD2-BB05-8A9687B2CF96</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>9A543E07-4010-4BBA-8E69-1067F8B6251F</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>9F22F821-4107-4DF8-AF14-6322BACCE389</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>1155</real>
		</dict>
		<key>AC490F6A-5F3B-4167-89B8-8D13ABD54EE7</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>B0CC9920-644D-4EA4-A83E-9F44918F3FFA</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>1305</real>
		</dict>
		<key>B0D7B171-71E1-432D-BB6E-2D14066CB49F</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>1125</real>
		</dict>
		<key>B2A13B8C-EA8D-4560-BA46-E18198CD3B77</key>
		<dict>
			<key>note</key>
			<string>Pair with available devices</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>B588AE59-92A5-41C6-9044-413C9E119F29</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater. Check for update on received input, every 4 days.</string>
			<key>xpos</key>
			<real>1325</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>B8284AB5-03BF-4C51-9969-34D4BF2FF011</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>965</real>
		</dict>
		<key>C028DDD9-1776-467A-B92F-44790785141B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C547933D-5FAE-4ECD-97FA-68C6AADCD629</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>C6BA9A45-F520-4BFB-A1C9-4612340B6F5D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>D2C1AD97-C501-44BD-8D72-300D004E5979</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>D33533C8-A48A-47C7-A55A-7AB55A21C889</key>
		<dict>
			<key>note</key>
			<string>Route commands to source scripts</string>
			<key>xpos</key>
			<real>1160</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>D74C560B-4F3D-4B55-B091-380FB6C9454E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>1015</real>
		</dict>
		<key>DCBF6499-1523-4AA7-BE63-25524F8C0181</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>DD532A4D-86C3-4874-89D6-47B4F961DCF7</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1105</real>
		</dict>
		<key>E684A78A-72CA-43FD-B911-9A45FC33ECC0</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>1275</real>
		</dict>
		<key>ED18B100-64A9-46AA-82B6-21A2C7182F4F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>EE29FA26-7129-4E3D-9084-F402120BF8F1</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>1175</real>
		</dict>
		<key>FC4168F1-6FF0-4CAE-B825-F380A2E06EC8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>FE6F7ED4-04BA-4867-9C46-86E321EBC72D</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>confirm</key>
		<string>false</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>confirm</string>
	</array>
	<key>version</key>
	<string>4.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/vegardinho/alfred_bluetooth_controller</string>
</dict>
</plist>
