<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vegardlandsverk.bluetoothcontroller</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>008A1FEA-E890-4782-9D5C-12CDD78DAF0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7502003D-DCA4-47B9-965B-A5E6B32AB52A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1606E8FA-C53A-4C0B-981A-CC6219F1CE70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>00AA6D41-B74C-413D-AA91-22CB23A8A328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF3FA9E1-82CA-4A70-89E5-C3DC08DE781A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C0071B3-C425-4582-B155-441C6CB2B674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F43C5D17-E1DC-440F-8983-565ED7077E2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0CE3B532-9C31-4D63-96A4-95AD22177380</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1E47383-CE28-4BAE-8F26-70DA46F1F573</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1606E8FA-C53A-4C0B-981A-CC6219F1CE70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3675BC91-848E-4397-BF0D-31EF7B0B12D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2055BADE-BB0D-4496-B3ED-B1B048523CAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9F3FA71-8F4D-41A4-A4D2-2E40481FF41D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B588AE59-92A5-41C6-9044-413C9E119F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3675BC91-848E-4397-BF0D-31EF7B0B12D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B188343-B4DB-4F94-94E8-01E42AE5DA39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5F0091ED-30A5-42D1-9324-CCB3CA11829F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>417FCDBF-53B1-40DB-96BE-FE74C08E0CA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AD87F887-D7CA-4FE5-961F-1B605960EDED</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>95DBB927-AE3A-4721-9E5C-3BE88EBBE5B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DB0B8E2-8AF2-4144-A953-67E90B07A55A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF3FA9E1-82CA-4A70-89E5-C3DC08DE781A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B588AE59-92A5-41C6-9044-413C9E119F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8199FF70-93AD-4574-A2C5-DD0DA0CC0705</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B70DFFFF-A6B5-4D77-AF21-24C11B78ACD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86D0A863-4EB9-4723-811F-7660C092EF51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A511F269-0FF0-40C5-937E-2CB57DA97959</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B588AE59-92A5-41C6-9044-413C9E119F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>86D0A863-4EB9-4723-811F-7660C092EF51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A70E0B03-61A8-4842-8296-93EDFCC23479</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>008A1FEA-E890-4782-9D5C-12CDD78DAF0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A87A8745-AAA0-4433-8950-7B6551E1C1D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B588AE59-92A5-41C6-9044-413C9E119F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C588528A-F157-401D-BB24-FA1DCDB1BAFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86609129-DBF1-4FCE-AB86-911D85C6644D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>906ED09B-25E9-4D6A-9A2B-6D6D8600314F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D78FB640-A1AA-4551-8695-D7F91D56FB7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFB72AEF-52DF-406C-AB8C-31EEFF69F714</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B588AE59-92A5-41C6-9044-413C9E119F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F22E0C2D-173E-4B6F-981B-2B1F7EFAB54B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2A13B8C-EA8D-4560-BA46-E18198CD3B77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CE3B532-9C31-4D63-96A4-95AD22177380</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B70DFFFF-A6B5-4D77-AF21-24C11B78ACD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B029FFB-5D05-4681-8239-3B44BDCD7DA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>906ED09B-25E9-4D6A-9A2B-6D6D8600314F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>172C2156-A750-4850-BAFF-37AA803E373D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C588528A-F157-401D-BB24-FA1DCDB1BAFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF3FA9E1-82CA-4A70-89E5-C3DC08DE781A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70E0B03-61A8-4842-8296-93EDFCC23479</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1E47383-CE28-4BAE-8F26-70DA46F1F573</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8199FF70-93AD-4574-A2C5-DD0DA0CC0705</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0CB9F960-E185-47CB-9D67-035DF8DDB8BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9F3FA71-8F4D-41A4-A4D2-2E40481FF41D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7502003D-DCA4-47B9-965B-A5E6B32AB52A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1606E8FA-C53A-4C0B-981A-CC6219F1CE70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F22E0C2D-173E-4B6F-981B-2B1F7EFAB54B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F43C5D17-E1DC-440F-8983-565ED7077E2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0493455D-D221-499B-B2B0-CDCBC39CF57A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vegard Landsverk</string>
	<key>description</key>
	<string>Toggle bluetooth with "bt", and connect to your devices with "btd"</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth Controller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>security add-generic-password -a "alfred-bluetooth-device" -s "alfred-bluetooth-device" -w "{query}" -C "note" -U

echo {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F43C5D17-E1DC-440F-8983-565ED7077E2C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Use "btx" to connect to this device directly</string>
				<key>title</key>
				<string>Favorite device set to {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0493455D-D221-499B-B2B0-CDCBC39CF57A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btsetfavorite</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for previously paired devices. Please wait...</string>
				<key>script</key>
				<string>./return_device_json.py "Set as favorite"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Toggle device later by using keyword "btx"</string>
				<key>title</key>
				<string>Set favorite bluetooth device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0C0071B3-C425-4582-B155-441C6CB2B674</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>btx</string>
				<key>subtext</key>
				<string>Connects if disconnected, and vice versa</string>
				<key>text</key>
				<string>Toggle favorite bluetooth device</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5DB0B8E2-8AF2-4144-A953-67E90B07A55A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please wait...</string>
				<key>title</key>
				<string>Toggling connection with {var:device_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7502003D-DCA4-47B9-965B-A5E6B32AB52A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>--attempt to retrieve name of bluetooth device

set dev_name to do shell script "perl -e 'use strict; use warnings; my $device =`security find-generic-password -w -s \"alfred-bluetooth-device\"`; chomp $device; print $device;'"if length of dev_name = 0 then	display alert "Bluetooth device not set" message "It appears that device has not been set. Please run 'btset \"device name\"' and try again." as criticalend if

return dev_name</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF3FA9E1-82CA-4A70-89E5-C3DC08DE781A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>device_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>008A1FEA-E890-4782-9D5C-12CDD78DAF0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>A70E0B03-61A8-4842-8296-93EDFCC23479</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>00AA6D41-B74C-413D-AA91-22CB23A8A328</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Successfully connected to bluetooth device</string>
				<key>title</key>
				<string>Connected to {var:device_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8B188343-B4DB-4F94-94E8-01E42AE5DA39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set connected to do shell script "echo $(/usr/local/bin/blueutil --is-connected \"{query}\")"if connected is equal to "1" then	do shell script "/usr/local/bin/blueutil --disconnect \"{query}\""	return -1
end if
	
set power to do shell script "/usr/local/bin/blueutil --power"
if power equals "0" then
	do shell script "/usr/local/bin/blueutil --power 1; sleep 1"
end if

set returnValue to do shell script "/usr/local/bin/blueutil --connect \"{query}\""
if returnValue is equal to "1" then	return 1end ifreturn 0</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1606E8FA-C53A-4C0B-981A-CC6219F1CE70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for previously paired devices. Please wait...</string>
				<key>script</key>
				<string>./return_device_json.py "Connect to device" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Connects if disconnected, and vice versa</string>
				<key>title</key>
				<string>Toggle bluetooth device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2055BADE-BB0D-4496-B3ED-B1B048523CAA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Bluetooth device successfully disconnected</string>
				<key>title</key>
				<string>Disconnected from {var:device_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>417FCDBF-53B1-40DB-96BE-FE74C08E0CA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>CONNECTED</string>
						<key>uid</key>
						<string>5F0091ED-30A5-42D1-9324-CCB3CA11829F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>-1</string>
						<key>outputlabel</key>
						<string>DISCONNECTED</string>
						<key>uid</key>
						<string>AD87F887-D7CA-4FE5-961F-1B605960EDED</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>FAILURE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3675BC91-848E-4397-BF0D-31EF7B0B12D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>device_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E9F3FA71-8F4D-41A4-A4D2-2E40481FF41D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Make sure the device is turned on and within range, and try again</string>
				<key>title</key>
				<string>Failed to connect to {var:device_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>95DBB927-AE3A-4721-9E5C-3BE88EBBE5B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Successfully connected to bluetooth device</string>
				<key>title</key>
				<string>Successfully paired with {var:device_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1B029FFB-5D05-4681-8239-3B44BDCD7DA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set power to do shell script "/usr/local/bin/blueutil --power"
if power equals "0" then
	do shell script "/usr/local/bin/blueutil --power 1; sleep 1"
end if

set returnValue to do shell script "/usr/local/bin/blueutil --pair \"{query}\"; echo $?"
if returnValue is equal to "0" then	return 0else	return 1end if</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8199FF70-93AD-4574-A2C5-DD0DA0CC0705</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for devices. Please wait (5 seconds)...</string>
				<key>script</key>
				<string>./return_device_json.py "Pair with device" "$1"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for device name to pair</string>
				<key>title</key>
				<string>Pair new bluetooth device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B2A13B8C-EA8D-4560-BA46-E18198CD3B77</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>SUCCESS</string>
						<key>uid</key>
						<string>906ED09B-25E9-4D6A-9A2B-6D6D8600314F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>FAILURE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B70DFFFF-A6B5-4D77-AF21-24C11B78ACD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E1E47383-CE28-4BAE-8F26-70DA46F1F573</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>device_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0CE3B532-9C31-4D63-96A4-95AD22177380</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Make sure the device is in search mode and within range, and try again</string>
				<key>title</key>
				<string>Failed to pair with bluetooth {var:device_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>172C2156-A750-4850-BAFF-37AA803E373D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please wait...</string>
				<key>title</key>
				<string>Attempting to pair with {var:device_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0CB9F960-E185-47CB-9D67-035DF8DDB8BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/vegardinho/alfred_bluetooth_controller/master/info.plist'
readonly workflow_url='vegardinho/alfred_bluetooth_controller'
readonly download_type='github_release'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B588AE59-92A5-41C6-9044-413C9E119F29</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/local/bin/blueutil --power 0
echo -n 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86D0A863-4EB9-4723-811F-7660C092EF51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>btoff</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Turn off bluetooth</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A511F269-0FF0-40C5-937E-2CB57DA97959</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Bluetooth ON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>86609129-DBF1-4FCE-AB86-911D85C6644D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/blueutil --power 1

echo -n 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C588528A-F157-401D-BB24-FA1DCDB1BAFC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bton</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Turn on bluetooth</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A87A8745-AAA0-4433-8950-7B6551E1C1D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>ON</string>
						<key>uid</key>
						<string>906ED09B-25E9-4D6A-9A2B-6D6D8600314F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>OFF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Bluetooth OFF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D78FB640-A1AA-4551-8695-D7F91D56FB7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bt</string>
				<key>subtext</key>
				<string>Turns on if turned off, and vice versa</string>
				<key>text</key>
				<string>Toggle bluetooth</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AFB72AEF-52DF-406C-AB8C-31EEFF69F714</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/blueutil --power toggle

echo -n $(/usr/local/bin/blueutil --power)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F22E0C2D-173E-4B6F-981B-2B1F7EFAB54B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>NEW IN THIS EDITION (1.5):
- Compatibility with every macOS (thanks to deanishe)


FOR INSTALLATION AND MANUAL, SEE GITHUB REPO
https://github.com/vegardinho/alfred_bluetooth_controller

Please notify me of any bugs.

Enjoy!</string>
	<key>uidata</key>
	<dict>
		<key>008A1FEA-E890-4782-9D5C-12CDD78DAF0D</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>00AA6D41-B74C-413D-AA91-22CB23A8A328</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>0493455D-D221-499B-B2B0-CDCBC39CF57A</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>0C0071B3-C425-4582-B155-441C6CB2B674</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>0CB9F960-E185-47CB-9D67-035DF8DDB8BD</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>1145</integer>
		</dict>
		<key>0CE3B532-9C31-4D63-96A4-95AD22177380</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>1015</integer>
		</dict>
		<key>1606E8FA-C53A-4C0B-981A-CC6219F1CE70</key>
		<dict>
			<key>note</key>
			<string>Connect via device name</string>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>172C2156-A750-4850-BAFF-37AA803E373D</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>1045</integer>
		</dict>
		<key>1B029FFB-5D05-4681-8239-3B44BDCD7DA5</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>2055BADE-BB0D-4496-B3ED-B1B048523CAA</key>
		<dict>
			<key>note</key>
			<string>Search through and select device</string>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>3675BC91-848E-4397-BF0D-31EF7B0B12D3</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>417FCDBF-53B1-40DB-96BE-FE74C08E0CA0</key>
		<dict>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>5DB0B8E2-8AF2-4144-A953-67E90B07A55A</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>7502003D-DCA4-47B9-965B-A5E6B32AB52A</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>8199FF70-93AD-4574-A2C5-DD0DA0CC0705</key>
		<dict>
			<key>note</key>
			<string>Pair via device name</string>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>86609129-DBF1-4FCE-AB86-911D85C6644D</key>
		<dict>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>1505</integer>
		</dict>
		<key>86D0A863-4EB9-4723-811F-7660C092EF51</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>1450</integer>
		</dict>
		<key>8B188343-B4DB-4F94-94E8-01E42AE5DA39</key>
		<dict>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>95DBB927-AE3A-4721-9E5C-3BE88EBBE5B6</key>
		<dict>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>A511F269-0FF0-40C5-937E-2CB57DA97959</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>1450</integer>
		</dict>
		<key>A70E0B03-61A8-4842-8296-93EDFCC23479</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>A87A8745-AAA0-4433-8950-7B6551E1C1D3</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>1570</integer>
		</dict>
		<key>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</key>
		<dict>
			<key>xpos</key>
			<integer>825</integer>
			<key>ypos</key>
			<integer>1590</integer>
		</dict>
		<key>AFB72AEF-52DF-406C-AB8C-31EEFF69F714</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>1690</integer>
		</dict>
		<key>B2A13B8C-EA8D-4560-BA46-E18198CD3B77</key>
		<dict>
			<key>note</key>
			<string>Pair with available devices</string>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>B588AE59-92A5-41C6-9044-413C9E119F29</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater. Check for update on received input, every 4 days.</string>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>1290</integer>
		</dict>
		<key>B70DFFFF-A6B5-4D77-AF21-24C11B78ACD4</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>1005</integer>
		</dict>
		<key>C588528A-F157-401D-BB24-FA1DCDB1BAFC</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>1570</integer>
		</dict>
		<key>CF3FA9E1-82CA-4A70-89E5-C3DC08DE781A</key>
		<dict>
			<key>note</key>
			<string>Get device name</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>D78FB640-A1AA-4551-8695-D7F91D56FB7D</key>
		<dict>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>1635</integer>
		</dict>
		<key>E1E47383-CE28-4BAE-8F26-70DA46F1F573</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>1015</integer>
		</dict>
		<key>E9F3FA71-8F4D-41A4-A4D2-2E40481FF41D</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>F22E0C2D-173E-4B6F-981B-2B1F7EFAB54B</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>1690</integer>
		</dict>
		<key>F43C5D17-E1DC-440F-8983-565ED7077E2C</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.5</string>
	<key>webaddress</key>
	<string>https://github.com/vegardinho/alfred_bluetooth_controller</string>
</dict>
</plist>
