<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vegardlandsverk.bluetoothcontroller</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0C0071B3-C425-4582-B155-441C6CB2B674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F43C5D17-E1DC-440F-8983-565ED7077E2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1606E8FA-C53A-4C0B-981A-CC6219F1CE70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3675BC91-848E-4397-BF0D-31EF7B0B12D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2055BADE-BB0D-4496-B3ED-B1B048523CAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7502003D-DCA4-47B9-965B-A5E6B32AB52A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1606E8FA-C53A-4C0B-981A-CC6219F1CE70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3675BC91-848E-4397-BF0D-31EF7B0B12D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B188343-B4DB-4F94-94E8-01E42AE5DA39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5F0091ED-30A5-42D1-9324-CCB3CA11829F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>417FCDBF-53B1-40DB-96BE-FE74C08E0CA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AD87F887-D7CA-4FE5-961F-1B605960EDED</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>95DBB927-AE3A-4721-9E5C-3BE88EBBE5B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DB0B8E2-8AF2-4144-A953-67E90B07A55A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF3FA9E1-82CA-4A70-89E5-C3DC08DE781A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86D0A863-4EB9-4723-811F-7660C092EF51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A511F269-0FF0-40C5-937E-2CB57DA97959</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86D0A863-4EB9-4723-811F-7660C092EF51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A87A8745-AAA0-4433-8950-7B6551E1C1D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C588528A-F157-401D-BB24-FA1DCDB1BAFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86609129-DBF1-4FCE-AB86-911D85C6644D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>906ED09B-25E9-4D6A-9A2B-6D6D8600314F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D78FB640-A1AA-4551-8695-D7F91D56FB7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFB72AEF-52DF-406C-AB8C-31EEFF69F714</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F22E0C2D-173E-4B6F-981B-2B1F7EFAB54B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C588528A-F157-401D-BB24-FA1DCDB1BAFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF3FA9E1-82CA-4A70-89E5-C3DC08DE781A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7502003D-DCA4-47B9-965B-A5E6B32AB52A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1606E8FA-C53A-4C0B-981A-CC6219F1CE70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F22E0C2D-173E-4B6F-981B-2B1F7EFAB54B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F43C5D17-E1DC-440F-8983-565ED7077E2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0493455D-D221-499B-B2B0-CDCBC39CF57A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vegard Landsverk</string>
	<key>description</key>
	<string>Toggle bluetooth with "bt", and connect easily to your devices with "btd"</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth Controller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Use "btx" to connect to this device directly</string>
				<key>title</key>
				<string>Favorite device set successfully</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0493455D-D221-499B-B2B0-CDCBC39CF57A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

security add-generic-password -a "alfred-bluetooth-device" -s "alfred-bluetooth-device" -w "{query}" -C "note" -U

echo "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F43C5D17-E1DC-440F-8983-565ED7077E2C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btsetfavorite</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for previously paired devices. Please wait...</string>
				<key>script</key>
				<string>python3 ./return_device_json.py "Set as favorite"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Toggle device later by using keyword "btx"</string>
				<key>title</key>
				<string>Set favorite bluetooth device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0C0071B3-C425-4582-B155-441C6CB2B674</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Successfully connected to bluetooth device</string>
				<key>title</key>
				<string>Successfully CONNECTED</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8B188343-B4DB-4F94-94E8-01E42AE5DA39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>--attempt to retrieve id of bluetooth device

set device_id to do shell script "perl -e 'use strict; use warnings; my $device =`security find-generic-password -w -s \"alfred-bluetooth-device\"`; chomp $device; print $device;'"if length of device_id = 0 then	display alert "Bluetooth device not set" message "It appears that device has not been set. Please run 'btset \"device-id\"' and try again." as criticalend if

return device_id</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF3FA9E1-82CA-4A70-89E5-C3DC08DE781A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>btx</string>
				<key>subtext</key>
				<string>Connects if disconnected, and vice versa</string>
				<key>text</key>
				<string>Toggle favorite bluetooth device</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5DB0B8E2-8AF2-4144-A953-67E90B07A55A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please wait...</string>
				<key>title</key>
				<string>Attempting to connect to device</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7502003D-DCA4-47B9-965B-A5E6B32AB52A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>btd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for previously paired devices. Please wait...</string>
				<key>script</key>
				<string>python3 ./return_device_json.py "Connect to device" {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Connects if disconnected, and vice versa</string>
				<key>title</key>
				<string>Toggle bluetooth device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2055BADE-BB0D-4496-B3ED-B1B048523CAA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set connected to do shell script "echo $(/usr/local/bin/blueutil --is-connected {query})"if connected is equal to "1" then	do shell script "/usr/local/bin/blueutil --disconnect {query}"	return 2
end if
	
set power to do shell script "/usr/local/bin/blueutil --power"
if power equals "0" then
	do shell script "/usr/local/bin/blueutil --power 1; sleep 1"
end if

set returnValue to do shell script "/usr/local/bin/blueutil --connect {query}"
if returnValue is equal to "1" then	return 0else	return 1end if</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1606E8FA-C53A-4C0B-981A-CC6219F1CE70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Bluetooth device successfully disconnected</string>
				<key>title</key>
				<string>Successfully DISCONNECTED</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>417FCDBF-53B1-40DB-96BE-FE74C08E0CA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>CONNECTED</string>
						<key>uid</key>
						<string>5F0091ED-30A5-42D1-9324-CCB3CA11829F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>2</string>
						<key>outputlabel</key>
						<string>DISCONNECTED</string>
						<key>uid</key>
						<string>AD87F887-D7CA-4FE5-961F-1B605960EDED</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>FAILURE</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3675BC91-848E-4397-BF0D-31EF7B0B12D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>btoff</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Turn off bluetooth</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A511F269-0FF0-40C5-937E-2CB57DA97959</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/local/bin/blueutil --power 0
echo -n 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86D0A863-4EB9-4723-811F-7660C092EF51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Make sure the device is turned on and within range, and try again</string>
				<key>title</key>
				<string>Failed to connect to bluetooth device</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>95DBB927-AE3A-4721-9E5C-3BE88EBBE5B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Bluetooth ON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>86609129-DBF1-4FCE-AB86-911D85C6644D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/blueutil --power 1

echo -n 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C588528A-F157-401D-BB24-FA1DCDB1BAFC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bton</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Turn on bluetooth</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A87A8745-AAA0-4433-8950-7B6551E1C1D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>PÅ</string>
						<key>uid</key>
						<string>906ED09B-25E9-4D6A-9A2B-6D6D8600314F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>AV</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Bluetooth OFF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D78FB640-A1AA-4551-8695-D7F91D56FB7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bt</string>
				<key>subtext</key>
				<string>Turns on if turned off, and vice versa</string>
				<key>text</key>
				<string>Toggle bluetooth</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AFB72AEF-52DF-406C-AB8C-31EEFF69F714</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/blueutil --power toggle

echo -n $(/usr/local/bin/blueutil --power)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F22E0C2D-173E-4B6F-981B-2B1F7EFAB54B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>INSTALLATION:

1. Install blueutil. Easily done with Homebrew: run "brew install blueutil" in Terminal.
2. Check if Python 3 installed (run "python3 --version" in Terminal). Also easily installed with Homebrew.
3. Open alfred installation file, and all is set!



This workflow lets you do the following:

- Toggle bluetooth on and off by using the keyword "bt"
- Turn bluetooth on by using the keyword "bton"
- Turn bluetooth off by using the keyword "btoff"

- Toggle connection to device by using the keyword "btd" + device name. By typing an argument, the workflow will automatically search through all devices paired with the computer.

- Set favorite device for quick toggle connection, with keyword "btsetfavorite"
- Toggle connection to favorite device, by typing keyword "btx".


More information available at github repo.
Please notify me of any bugs.

Enjoy!</string>
	<key>uidata</key>
	<dict>
		<key>0493455D-D221-499B-B2B0-CDCBC39CF57A</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>0C0071B3-C425-4582-B155-441C6CB2B674</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>1606E8FA-C53A-4C0B-981A-CC6219F1CE70</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>2055BADE-BB0D-4496-B3ED-B1B048523CAA</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>3675BC91-848E-4397-BF0D-31EF7B0B12D3</key>
		<dict>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>417FCDBF-53B1-40DB-96BE-FE74C08E0CA0</key>
		<dict>
			<key>xpos</key>
			<integer>1145</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>5DB0B8E2-8AF2-4144-A953-67E90B07A55A</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>7502003D-DCA4-47B9-965B-A5E6B32AB52A</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>86609129-DBF1-4FCE-AB86-911D85C6644D</key>
		<dict>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>86D0A863-4EB9-4723-811F-7660C092EF51</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>8B188343-B4DB-4F94-94E8-01E42AE5DA39</key>
		<dict>
			<key>xpos</key>
			<integer>1145</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>95DBB927-AE3A-4721-9E5C-3BE88EBBE5B6</key>
		<dict>
			<key>xpos</key>
			<integer>1145</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>A511F269-0FF0-40C5-937E-2CB57DA97959</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>A87A8745-AAA0-4433-8950-7B6551E1C1D3</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>AC1FC842-4676-4A7C-AFFF-57E4C3090C3D</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>AFB72AEF-52DF-406C-AB8C-31EEFF69F714</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>C588528A-F157-401D-BB24-FA1DCDB1BAFC</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>CF3FA9E1-82CA-4A70-89E5-C3DC08DE781A</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>D78FB640-A1AA-4551-8695-D7F91D56FB7D</key>
		<dict>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>F22E0C2D-173E-4B6F-981B-2B1F7EFAB54B</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>F43C5D17-E1DC-440F-8983-565ED7077E2C</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://github.com/vegardinho/alfred_bluetooth_controller</string>
</dict>
</plist>
